.category-title {
    color: #FFFFFF;
    font-size: 100px;
    text-align: center;
}

.category-subtitle {
    color: #FFFFFF;
    text-align: center;
}

.event {
    border-color: dodgerblue;
    border-width: 10px;
    outline-offset: 10px;
}